:host {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100vw;
  text-align: center;
}

mat-card {
  padding: 20px;
  width: 300px;
  text-align: center;
}

h3  {
  width: 100%;
  text-align: center;
}

button {
  margin-top: 10px;
  width: 100%
}
