<mat-toolbar color="primary">
  <span>Адміністрування</span>
  <span class="spacer"></span>
  <button *ngIf="user" (click)="signOut()" mat-raised-button matTooltip="Sign out">
    <span class="avatar">{{user.displayName?.at(0)}}</span>
    <span class="username">{{ user.displayName }}</span>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened *ngIf="user">
    <mat-nav-list>
      <a mat-list-item routerLink="/products">Вироби</a>
      <a mat-list-item routerLink="/materials">Матеріали</a>
      <a mat-list-item routerLink="/sales">Продажі</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
